* {
  margin: 0;
  padding: 0;
  border: 0;
  }

.bodazeazeazey {
  margin: auto;
  background-color: #ffffff;
  max-width: 480px;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden; 
  align-items: center;
  align-content: center;
}

body {
  margin: auto;
  max-width: 480px;
}

html {
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.search-form {
  padding-left: 20px;
  padding-right: 20px;
}

.search-form-input {
  padding-left: 15px;
  border: 1.5px solid #F2F2F2;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 10px;
  font-weight: 800;
  width: 50%;
}

.search.title {
  display: flex;
  align-items: center;
  margin: 100px;
}

.filters {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.filters-title {
  margin-bottom: 25px;
  white-space: nowrap;
}

.filters-list {
  display: flex;
  flex-flow:  row wrap;
}

.filter-option {
  margin-right: 10px;
  margin-bottom: 10px;
}

.filters-results {
  padding-left: 20px;
  padding-right: 20px;
}

.hosts-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: auto;
}

.hosts {
  display: flex;
  flex-flow: column-reverse wrap;
  align-items: center;
  width: auto;
}

.hosts-title {
  margin: 0;
  padding-bottom: 25px;
  padding-top: 25px;
}

.hosts-cards {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.hosts-card {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: auto;
  margin-bottom: 25px;
}

.hosts-card img {
  height: 140px;
  width: 100%;
  object-fit: cover;
}

.hosts-card-description > p {
  margin: 0px;
  margin-bottom: 5px;
}

.hosts-popular {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column wrap;
  border-radius: 0px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.hosts-popular-title {
  display: flex;
  justify-content: space-between;
}

.hosts-popular-cards {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
}


.hosts-popular-card {
  width: auto;
  margin-bottom: 25px;
}

.activities {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

.activities-title {
margin-bottom: 0px;
}

.activities-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.activities-title {
  margin-top: 20px;
  margin-bottom: 30px;
}

.activities-column {
  width: auto;
}

.activities-card {
  cursor: pointer;
  border-radius: 22px;
  box-shadow: 0px 3px 10px 3px rgb(40 40 40 / 15%);
  width: 100%;
  margin-bottom: 30px;
}

.activities-card.big img {
  height: 150px;
}

.activities-card.medium-l img {
  height: 150px;
}

.activities-card.small-s img {
  height: 150px;
}

.activities-card.medium-s img {
  height: 150px;
}

.activities-card.small-l img {
  height: 150px;
}

.footer {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0;
  white-space: nowrap;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-title {
  margin-bottom: 25px;
  margin-top: 25px;
}

.footer-infos {
  margin-left: 30px;
  margin-bottom: 15px;
} 
