.main {
    background-color: #ffffff    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
    border-radius: 20px;
    background-color: white;
    max-width: 1440px;
}

body {
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav li {
    list-style-type: none;
    margin: 10%;
}

.header-logo {
    display: flex;
    flex-direction: row;
}

.filters {
    margin: 20px 0;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.filters-title {
  margin-right: 20px;
}

.filters-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.filter-option {
  display: flex;
  align-items: center;
  border: 2px solid #F2F2F2;
  border-radius: 20px;
  margin-right: 20px;
}

.filter-icon {
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}

.filters-results {
  display: flex;
  align-items: center;
}

.filters-results-icon {
  color: #0065FC;
  border: 2px solid #F2F2F2;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.hosts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.hosts-container {
    background-color: #f2f2f2;;
    border-radius: 14px;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 70%;
    margin-right: 30px;
    display: flex;
    flex-flow: wrap row; 
    align-items: space-around;
 }

 .hosts-cards {
  display:flex;
  flex-flow: row wrap;
}

.hosts-card {
    flex: 1 1 25%;
    margin-right: 20px;
    background-color: white;
    border: 4px white solid;
    border-radius: 14px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}

.hosts-card:hover{
  transform: scale(1.1);
}


.hosts-card-description {
  display: flex;
  flex-flow: column wrap;
}

.hosts-card-description > p , h3, .icon-stars {
    margin:5px;
}

.hosts-card img {
  border-radius: 14px 14px 0px 0px;
  height: 140px;
  width: 100%;
  object-fit: cover;
}

.hosts-popular {
    background-color: #f2f2f2;
    border-radius: 14px;
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
    padding-top: 10px;
    padding-bottom: 50px;
}

.hosts-popular-title {
  width: ;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
}

.hosts-popular-h2 {
  margin-right: 100px;
}

/*
.hosts-popular-container {
  display: flex;
  flex-flow: column wrap;
  border: 4px yellow solid;
  height: 100%;
}
*/

.hosts-popular-cards {
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
}


.hosts-popular-card {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row wrap;
    height: auto;
    width: 338px;
    background-color: white;
    border: 4px white solid;
    border-radius: 14px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}

.hosts-popular-card:hover{
  transform: scale(1.1);
}

.hosts-popular-card img {
  border-radius: 14px 0px 0px 14px;
  height: 140px;
  width: 35%;
  object-f35: cover;
}

.hosts-popular-card-description {
}

.activities-title {
  display:flex;
}

.activities-list {
    display:flex; 
    flex-direction: row;
    justify-content: space-between;
    border: yellow 4px solid;
}

.activities-column2 {
    display: flex;
    flex-flow: column wrap;
    border: purple 4px solid;
}

.activities-column4 {
    display: flex;
    flex-flow: column wrap;
    border: purple 4px solid;
}

.activities-card-big {
    border: red 4px solid;
    width: 312px;
    background-color: blue;
}



.activities-card-medium {
    border: red 4px solid;
    height: 242px;
    width: 300px;
    background-color: blue;
}

.activities-card-small {
    border: red 4px solid;
    height: 217px;
    width: 300px;
    background-color: blue;
}

.footer {
    background-color: #f2f2f2;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


