.main {
  background-color: #ffffff    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
  border-radius: 20px;
  background-color: white;
  max-width: 1440px;
}

* {
  margin:0;
  padding:0;
  border:0;
  }

a:link {
text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;
  max-width: 1440px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav li {
  list-style-type: none;
  margin: 10%;
}

.nav-signup-link a {
  font-weight: bold;
  color: #0065FC;
}

.header-logo {
  display: flex;
}

.search {
  display:flex;
  flex-flow: column wrap;
  
}

 .search-title {
   margin: 0;
 }

 .search-subtitle {
  margin-top: 10px;
  margin-bottom: 15px;
}

.search-form {
  display: flex;
  height: 45px;
}

.search-button {
appearance: auto;
user-select: none;
white-space: pre;
align-items: center;
text-align: center;
color: white;
font-size: 0.85em;
cursor: pointer;
background-color: #0065FC ;
box-sizing: border-box;
padding: 1px 15px;
border-style: none;
border-radius: 0px 14px 14px 0px ;
font-weight: bold;
outline: none;
}

.search-form-input:focus {
  border-color: #F2F2F2;
  outline: none;

}

.search-form-input {
  padding-left: 15px;
  border: 1.5px solid #F2F2F2;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: black;

}

input::-webkit-input-placeholder {
  font-weight: bold;
  color: black;
  font-size: 1.1em;  
}

input:focus::-webkit-input-placeholder {
  color: transparent;
  
}

.icon-map-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  border: #F2F2F2 solid 4px;
  border-radius: 14px 0px 0px 14px;
  width: 35px;
}

.filters {
  margin-top: 30px;
}

.filters-title {
margin-right: 22px;
font-size: medium;
font-weight: bold;
}

.filter-title {
margin: 0px;
padding-right: 15px;
margin-left: 15px;
white-space: nowrap;
font-size: 18px;
font-weight: 800;
padding-top: 15px;
padding-bottom: 15px;
}

.filters-list {
  display: flex;
  align-items: center;
}

.filter-option {
display: flex;
align-items: center;
border: 2px solid #d9d9d9;
border-radius: 50px;
margin-right: 25px;
text-align: center;
}

.filter-icon {
color: #0065FC;
background-color: #DEEBFF;
border-radius: 50%;
width: 55px;
height: 55px;
display: flex;
align-items: center;
justify-content: center;
margin: -2px;
}


.filters-results {
display: flex;
align-items: center;
margin-top: 20px;
margin-bottom: 20px;

}

.filters-results-icon {
color: #0065FC;
border: 2px solid #F2F2F2;
border-radius: 50px;
display: flex;
align-items: center;
justify-content: center;
width: 25px;
height: 25px;
margin-right: 20px;
}

.hosts {
display: flex;
justify-content: space-around;
}

.hosts-container {
  background-color: #f2f2f2;
  border-radius: 14px;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
  width: 70%;
  margin-right: 30px;
  display: flex;
  flex-flow: wrap row; 
  align-items: space-around;
}

.hosts-title {
margin: 0;
padding-bottom: 25px;
}

.hosts-cards {
display:flex;
flex-flow: row wrap;
}

.hosts-card {
  flex: 1 1 30%;
  margin-right: 20px;
  background-color: white;
  border: 4px white solid;
  border-radius: 14px;
  margin-bottom: 30px;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, .1);
}

.hosts-card:hover{
transform: scale(1.1);
}


.hosts-card-description {
display: flex;
flex-flow: column wrap;
margin: 5px;
padding: 8px;

}

.hosts-card-description > h3 {
  margin: 0px;
  margin-bottom: 5px;
  }

.hosts-popular-card-description > .icon-stars {
    margin: 0px;
    margin-bottom: 10px;
    }

.hosts-card-description > p {
margin: 0px;
margin-bottom: 10px;
} 


.hosts-card img {
border-radius: 14px 14px 0px 0px;
height: 125px;
width: 100%;
object-fit: cover;
}

.hosts-card > .icon-star-on {
margin: 5px;
}

.hosts-view-more {
font-weight: bold;
color: black;
padding-bottom: 20px;
}

.hosts-popular {
  background-color: #f2f2f2;
  border-radius: 14px;
  width: 30%;
  display: flex;
  flex-flow: column wrap;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 25px;
}

.hosts-popular-title {
width: ;
display: flex;
flex-flow: row wrap;
align-items: flex-start;
}

.hosts-popular-h2 {
margin: 0;
padding-bottom: 25px;
}

.fa-chart-line {
font-size: 25px;
margin-left: 80px;
}

.hosts-popular-cards {
display: flex;
flex-flow: column wrap;
justify-content: space-between;
align-content: space-between;
margin-right: 40px;
}


.hosts-popular-card {
  flex: 1 1 25%;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: white;
  border: 4px white solid;
  border-radius: 14px;
  margin-bottom: 38px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
}

.hosts-popular-card:hover{
transform: scale(1.1);
}

.hosts-popular-card img {
border-radius: 14px 0px 0px 14px;
height: 140px;
width: 35%;
object-fit: cover;
}

.hosts-popular-card-description {
width: 50%;
display: flex;
flex-direction: column;
padding-top: 5px;
margin-left: 15px;
margin-bottom: 5px;
}

.hosts-popular-card-description > h3 {
  margin: 0px;
  margin-bottom: 5px;
  }
  
  .hosts-popular-card-description > p {
    margin: 0px;
    margin-bottom: 5px;
    }

.hosts-popular-card-description-blank {
height:60%;
width:100%;
}

.icon-stars {
display: flex;
text-align: center;
}

.icon-star-on {
color: #0065FC ;
font-size: 75%;
}

.icon-star-off {
color: #D9D9D9;
font-size: 75%;
}

.activities-title {
display:flex;
margin-top: 50px;
margin-bottom: 20px;
}

.activities-list {
  display:flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.activities-column2 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 25%;
}

.activities-column4 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 25%;
}

.activities-card-big {
  width: 23%;
  background-color: white;
  border: 4px #fafafa;
  border-radius: 14px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
}


.activities-card-big img {
border-radius: 14px 14px 0px 0px;
height: 400px;
width: 100%;
object-fit: cover;
}

.activities-card-medium-l {
  background-color: white;
  border: 4px #fafafa;
  border-radius: 14px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
}

.activities-card-medium-l img {
border-radius: 14px 14px 0px 0px;
height: 190px;
width: 100%;
object-fit: cover;
}

.activities-card-small-s {
  background-color: white;
  border: 4px #fafafa;
  border-radius: 14px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
}

.activities-card-small-s img {
border-radius: 14px 14px 0px 0px;
height: 130px;
width: 100%;
object-fit: cover;
}

.activities-column4 {
  display: flex;
  flex-flow: column wrap ;
  justify-content: space-between;
  width: 20%;
}

.activities-card-medium-s {
  background-color: white;
  border: 4px #fafafa;
  border-radius: 14px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
}

.activities-card-medium-s img {
border-radius: 14px 14px 0px 0px;
height: 150px;
width: 100%;
object-fit: cover;
}

.activities-card-small-l {
  background-color: white;
  border: 4px #fafafa;
  border-radius: 14px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
}

.activities-card-small-l img {
border-radius: 14px 14px 0px 0px;
height: 170px;
width: 100%;
object-fit: cover;
}

.activities-card-description {
  margin: 5px;
  padding: 8px;
  margin-left: 10px;
  font-size: 1em;
  }

.footer {
  background-color: #f2f2f2;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: -40px;
  margin-right: -40px;
}

.footer-title {
  margin-bottom: 25px;
  margin-top: 40px;
}

.footer li {
  list-style-type: none;
  padding-bottom: 8px;
}
.footer li > a {
  text-decoration: none;
  color: black;
}

.footer-about {

}
